* {
	box-sizing: border-box;
}

body {
	color: #3c313a;
	background: #fff4ee;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', 'Arial', 'Roboto';
}

a {
	text-decoration: none;
	color: #6bab90;
	transition: color .3s
}

a:hover {
	color: #55917f
}

#site{
	min-height:100vh;
}

#site-head, #site-nav {
	background: #3c313a;
	padding: 1rem;
	color: #fff
}

#site-foot {
	color: #fff;
	background: #2b2329;
	padding-left: 2rem;
}

#site-foot a, #site-nav>a {
	color: #f79f79
}

#me>h2, #me>p{
	margin:0px;
	text-align: center;
}

#site-foot a:hover, #site-nav>a:hover {
	color: #f8b091
}

#me-avatar {
	border-radius: 50%;
	margin:1rem auto;
}

img{
	max-width:100%;
}

.wrapper{
	padding:0 1rem;
	margin-top: 1rem;
}

/*.overflow {
	overflow: auto;
}*/

.menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

img.clickThrough {
	border: 1px solid #ddd;
	border-radius: 7px;
	padding: 1px;
	width: 100%;
}

img.clickThrough:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#author{
    text-align:center;
    margin-top:5rem;
    margin-bottom:5rem
}

@supports(display:grid) {
	#site {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: max-content max-content auto max-content;
		grid-template-areas: "header" "nav " "main " "footer"
	}
	#site-head {
		grid-area: header;
	}
	#site-nav {
		grid-area: nav;
	}
	#site-content {
		grid-area: main
	}
	#site-foot {
		grid-area: footer
	}
	#me{
		display:grid;
        grid-gap:0;
        grid-template-areas:"header" "avatar" "desc "
	}
	#me-avatar{
		grid-area:avatar;
	}
	#me-head{
		grid-area:header;
	}
	#me-desc{
		grid-area:desc;
	}
}

@media only screen and (max-width: 76.999rem) {
	#site-nav a+a {
		margin-left: 1rem;
	}
}

@media only screen and (min-width: 77rem) {
	/* For PC: */
	#site {
		grid-template-columns: 20rem auto;
		grid-template-rows: max-content auto max-content;
		grid-template-areas: "header main " "nav main " "nav footer"
	}
	#site-nav>a {
		display: block;
		padding-bottom: .5rem;
		text-align: center
	}
	#site-nav>a+a {
		border-top: 1px solid #4a4549;
		padding-top: .5rem;
		margin-left: 0
	}
	img.clickThrough {
		width:50rem;
	}
	.wrapper{
		max-width:50rem;
		padding-left:2rem;
		padding-right:2rem
	}
	#me{
		text-align:left;
		grid-template-columns:max-content auto;
		grid-template-areas:"avatar header" "avatar desc "
	}
	#me-avatar{
		margin:auto 2rem
	}
}