/* General styling/Mobile styling */

.alignRight {
    margin: 0;
    text-align: right !important;
}

.smallText {
    font-size: .675em;
}

.japanese {
    font-family: 'Quicksand', 'Arial', 'ＭＳ Ｐゴシック', 'MS PGothic', 'メイリオ', Meiryo, "Hiragino Sans GB", sans-serif;
}

a {
    text-decoration: none;
}

.preload *, .preload {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

body {
    font-family: 'Quicksand', 'Arial', "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    background: rgb(45, 43, 51);
    margin: 0;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
    margin: 5vh 0;
    transition: 0.2s cubic-bezier(0.06, 0.35, 0.43, 0.84);
}

/* Title */

.title {
    margin: 0;
    font-weight: 300;
    line-height: 1.6em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .25);
}

h1.title {
    font-size: 3em;
    color: #e7e7e7;
}

h2.title {
    font-size: 1.5em;
    color: #a2a2a2;
    font-weight: bold;
}

/* Cards */

.card {
    background: rgb(63, 67, 87);
    text-align: center;
    display: block;
    border-radius: 1em;
    margin: 1em auto;
    min-width: 10em;
    width: 90vw;
    box-shadow: 0 0 0.15em 0.15em rgba(0, 0, 0, .125);
    padding: 1.6em 0.75em;
}

.card.content-only {
    padding: 1em 0.75em;
}

/* Content of cards */

.image {
    box-shadow: 0 0 0.15em 0.15em rgba(0, 0, 0, .125);
    margin: 1em auto;
    border-radius: 1em;
    width: 100%;
    max-width: 30em;
    cursor: pointer;
    transition: .15s ease-out;
}

.content {
    width: 100%;
}

.content>p {
    font-size: 1.075em;
    color: rgb(208, 218, 235);
    text-align: left;
}

.image, .content {
    display: inline-block;
    vertical-align: top;
}

.heading {
    display: inline-block;
    width: 100%;
    margin: auto 0;
    font-size: 2em;
    color: rgb(242, 246, 255);
    text-align: center;
}

.heading>i {
    display: none;
}

/* Overlay */

#overlay {
    width: 100vw;
    height: 100vh;
    background: rgb(63, 67, 87);
    z-index: 10;
    position: fixed;
    overflow-y: scroll;
    left: 0;
    top: 0;
}

#overlay-container {
    padding: 1em;
    min-height: 90vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

#overlay-image {
    box-shadow: 0 0 0.15em 0.15em rgba(0, 0, 0, .125);
    margin: 1em auto;
    border-radius: 1em;
    width: 90vw;
}

#overlay-text {
    margin-bottom: 0;
    font-size: 1.5em;
    line-height: 1.5em;
    color: #ffffff;
}

#overlay-text a {
    color: rgb(132, 121, 255);
}

.noscroll {
    overflow-y: hidden
}

/* Label stuffs */

.labelFolder {
    margin: .8em 0;
    text-align: center;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.label {
    border-radius: 0.25em;
    display: inline-block;
    vertical-align: bottom;
    font-weight: 300;
    margin: 1.2em 0;
    position: relative;
    padding: .5em .75em;
    box-shadow: 0 0 0.15em 0.15em rgba(0, 0, 0, .15);
    background: rgb(103, 105, 116);
    transition: .2s ease-out;
}

.label.large {
    font-size: 200%;
}

.label.large:hover {
    box-shadow: 0.2em 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.25);
}

.label:hover {
    background: rgb(195, 214, 233);
    transition: .25s ease-out;
}

.label:active {
    transition: .1s ease-out;
    background: rgb(234, 244, 255);
}

.label span, .label i {
    margin-right: .25em;
}

.labelTitle {
    color: #ffffff;
}

.labelTitle>i {
    font-size: 150%;
    vertical-align: middle;
}

.label:hover>.labelTitle, .label:hover>i {
    color: rgb(31, 31, 37);
    transition: .25s ease-out;
}

.labelContent {
    color: rgb(214, 214, 214);
    transition: .2s ease-out;
}

.label:hover>.labelContent {
    color: rgb(49, 48, 56);
    transition: .25s ease-out;
}
.label.large::before{
    content: "" ;
}
.label::before {
    color: rgb(198, 198, 198);
    content: attr(alt);
    font-size: .75em;
    left: 0;
    top: -1.75em;
    position: absolute;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .25);
    transition: .2s cubic-bezier(0.21, 0.77, 0.53, 0.92)
}

.label:hover::before {
    color: #fff;
    font-weight: bold;
    transition: .3s cubic-bezier(0.21, 0.77, 0.53, 0.92)
}

/* Footer */

#footer {
    font-size: .9em;
    line-height: 2em;
    padding: .5em 1em;
}

#copyright {
    color: #eee;
    text-align: center;
}

/* RESPONSIVENESS */

@media only screen and (min-width: 60rem) {
    #overlay-image {
        width: 75vw;
        height: auto;
    }
    .card {
        transition: .2s ease-out;
        min-width: 55em;
        max-width: 70vw;
    }
    .card:hover{
        border-radius: 0 1em 1em 1em;
    }
    .card.content-only {
        min-width: 40em;
        max-width: 60vw;
    }
    .card.content-only>.content {
        width: 100%;
    }
    .card.content-only.left .labelFolder, .card.left>.heading {
        text-align: left;
    }
    .card.content-only.center .labelFolder, .card.center>.heading {
        text-align: center;
    }
    .card.content-only.right .labelFolder, .card.right>.heading {
        text-align: right;
    }
    .card.left>.content {
        float: left;
    }
    .card.center>.content {
        float: center;
    }
    .card.right>.content {
        float: right;
    }
    .image {
        border-radius: 0.5em;
        width: 45%;
    }
    .image:hover {
        border-radius: 0 .5em .5em .5em;
        box-shadow: 0.2em 0.2em 0.4em 0.4em rgba(0, 0, 0, 0.25);
    }    
    .content {
        width: 54%;
    }
    #main-container {
        transition: 0.2s cubic-bezier(0.06, 0.35, 0.43, 0.84);
        min-height: 80vh;
        margin: 10vh 0;
    }
    .heading>i {
        display: inline-block;
        transform: rotateZ(-23deg);
        transition: .3s;
    }
    .card:hover>.heading>i {
        transform: rotateZ(0deg);
        transition: .3s;
    }
    .label:hover {
        border-radius: 0 0.25em 0.25em 0.25em;
    }
}