/* Imports */

@import url('https://fonts.googleapis.com/css?family=Quicksand');
* {
    font-family: 'Quicksand', 'Arial', "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

body {
    background: #251B17;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 7.5em 0;
}

a {
    text-decoration: none;
}

.japanese {
    font-family: 'Quicksand', 'Arial', 'ＭＳ Ｐゴシック', 'MS PGothic', 'メイリオ', Meiryo, "Hiragino Sans GB", sans-serif;
}

.card {
    width: 80vw;
    background: rgb(73, 58, 61);
    display: block;
    border-radius: 1em;
    margin: 1em auto;
    max-width: 64em;
    min-width: 20em;
    box-shadow: 0 0 0.15em 0.15em rgba(0, 0, 0, .125);
    padding-top: 1.6em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.smallText {
    font-size: .675em;
}

#about {
    background: rgb(255, 255, 255);
    padding-bottom: 1.6em;
    padding-top: 1em;
}

.title {
    margin: 0;
    font-weight: 300;
    font-size: 3em;
    line-height: 1.6em;
    text-align: center;
    color: #f5f5f5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .25);
}

.image, .content {
    display: inline-block;
    vertical-align: top;
}

.image {
    box-shadow: 0 0 0.15em 0.15em rgba(0, 0, 0, .125);
    margin: 1em auto;
    border-radius: 0.75em;
    width: 100%;
}

.content {
    width: 100%;
}

.labelFolder {
    margin: .8em 0;
    text-align: center;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.label {
    border-radius: .5em;
    display: inline-block;
    vertical-align: bottom;
    font-weight: 300;
    background: #ABB3C3;
    margin: 1.2em 0;
    position: relative;
    padding: .5em .75em;
    box-shadow: 0 0 0.15em 0.15em rgba(0, 0, 0, .15);
    transition: .2s ease-out;
}

.label>* {
    margin-right: .25em;
    vertical-align: middle;
}

.label:hover {
    background: #1A1C1E;
}

.label:active {
    background: #28292D;
}

.label>i {
    font-size: 150%;
    vertical-align: middle;
}

.label>i, .labelTitle {
    color: #292119;
}

.label:hover>.labelTitle, .label:hover>i {
    color: #DFD0BC;
}

.labelContent {
    color: #3C2C1F;
}

.label:hover>.labelContent {
    color: #A79B8C;
}

#footer {
    font-size: .9em;
    line-height: 2em;
    padding: .5em 1em;
}

.label::before {
    color: #fff;
    content: attr(alt);
    font-size: .5em;
    left: 0;
    top: -1.75em;
    position: absolute;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .25);
}

#copyright {
    color: #eee;
    text-align: center;
}

@media only screen and (min-width: 50rem) {
    /* For PC: */
    card {
        width: auto;
    }
    .card.right {
        text-align: right;
    }
    .card.left {
        text-align: left;
    }
    .labelFolder {
        text-align: right;
    }
    .image {
        box-shadow: 0 0 0.15em 0.15em rgba(0, 0, 0, .125);
        margin: 1em auto;
        border-radius: 0.75em;
        width: 33%;
    }
    .content {
        width: 66%;
    }
}