.back-button {
  user-select: none;

  z-index: 1000000;
  position: fixed;
  left: calc(0.5 * var(--button-size));
  top: calc(0.5 * var(--button-size));
}

.back-button:hover {
  cursor: pointer;
}
