.back-button {
  user-select: none;

  z-index: 1000000;
  position: fixed;
  left: calc(0.5 * var(--button-size));
  bottom: calc(0.5 * var(--button-size));
}

.back-button:hover {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .back-button {
    top: calc(0.5 * var(--button-size));
    bottom: auto;
  }
}
