.button-collection {
  justify-content: space-evenly;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: var(--content-width);
}

.button-collection.left {
  justify-content: flex-start;
}

.button-collection.right {
  justify-content: flex-end;
}

.button-collection.center {
  justify-content: center;
}

.button-collection .link-button {
  margin: 0;
}

.button-collection.left {
  margin-left: -0.45rem;
}

/* .button-collection.left .link-button,
.button-collection.right .link-button {
  margin: 0 0.5rem;
} */

.button-collection .link-button.text {
  flex-grow: 1;
  flex-basis: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.button-collection .link-button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.button-collection .link-button.text,
.button-collection .link-button.text * {
  width: auto;
}

@media only screen and (min-width: 768px) {
  .button-collection:not(.left):not(.right):not(.center) {
    width: var(--content-width);
  }
}
