.button-collection {
  justify-content: space-evenly;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: var(--content-width);
}

.button-collection.left {
  justify-content: flex-start;
}

.button-collection .link-button {
  margin: 0;
}

.button-collection.left {
  margin-left: -1rem;
}

.button-collection.left .link-button,
.button-collection.right .link-button {
  margin: 0 0.5rem;
}

.button-collection .link-button.text {
  flex-grow: 1;
  flex-basis: 0;
  margin: 0 10px;
}

.button-collection .link-button {
  margin-right: .75rem;
  margin-bottom: .75rem;
}

.button-collection .link-button.text,
.button-collection .link-button.text * {
  width: auto;
}

@media only screen and (min-width: 768px) {
  .button-collection {
    width: var(--content-width);
  }
}
