.link-button h2 {
  margin: 0;
  /* text-decoration: underline; */
}

.link-button a {
  width: var(--button-size);
  height: var(--button-size);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(0.21 * var(--button-size));
  background-color: var(--main-background-color);

  transition: 0.2s ease;
  border: 0.0625rem solid transparent;
  border-color: var(--border-color);
  box-shadow: var(--button-shadow-up);
  /* transition: 0.06s cubic-bezier(0.79, 0.21, 0.06, 0.81); */
}

.link-button a svg{
  max-height: calc(0.4 * var(--button-size));
  max-width: calc(0.4 * var(--button-size));
}

.link-button * {
  color: var(--button-color);
  font-size: calc(0.5 * var(--button-size));
  line-height: var(--button-size);
  transition: all 0.2s ease;
  /* transition: 0.06s cubic-bezier(0.79, 0.21, 0.06, 0.81); */
  text-decoration: none;
}

.link-button a:active:focus {
  box-shadow: var(--button-shadow-pressed);
}

.link-button:active path{
  color : var(--main-background-color) !important;
}

.link-button.text,
.link-button.text * {
  width: -moz-fit-content;
  width: fit-content;
}

.link-button.text a {
  padding: 0 0.5rem;
}

.link-button-tooltip.tooltip{
  display: none;
}

.link-button-tooltip.fade:not(.show) {
  opacity: 0;
  transition: opacity 0.1s ease 0s;
}

.link-button-tooltip.fade {
  transition: opacity .2s ease .5s;
}

@media only screen and (min-width: 768px) {
  .link-button:hover a, .link-button:active a {
    box-shadow: var(--button-shadow-down);
  }
  .link-button-tooltip.tooltip{
    display: inherit;
  }
  .button-collection {
    width: var(--content-width);
  }
}
