.link-button {
  width: var(--button-size);
  height: var(--button-size);
  margin-left: -0.5rem;
}

.link-button p {
  margin: 0;
  text-decoration: underline;
}

.link-button a {
  position: relative;
  display: block;
  line-height: var(--button-size);
  border-radius: calc(0.24 * var(--button-size));
  background-color: #00000000;
  text-align: center;
  transition: 0.06s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}

.link-button * {
  color: var(--button-color);
  font-size: calc(0.5 * var(--button-size));
  line-height: var(--button-size);
  transition: 0.06s cubic-bezier(0.79, 0.21, 0.06, 0.81);
  text-decoration: none;
}

.link-button:hover path {
  color: #fff;
}

.link-button:hover a {
  box-shadow: var(--button-shadow-up);
}

.link-button a:active {
  box-shadow: var(--button-shadow-down);
}

.link-button a:active,
.link-button a:active * {
  transition-duration: 0.02s;
}

.link-button a:active svg {
  transform: scale(0.9);
}

.link-button a:active p {
  transform: scale(0.95);
}

.link-button.text,
.link-button.text * {
  width: -moz-fit-content;
  width: fit-content;
}

.link-button.text a {
  padding: 0 0.5rem;
}

.link-button.text:hover p {
  color: #000;
}