.theme-toggle-button {
  user-select: none;

  z-index: 1000000;
  position: fixed;
  right: calc(0.5 * var(--button-size));
  top: calc(0.5 * var(--button-size));
}

.theme-toggle-button:hover {
  cursor: pointer;
}
