.button-collection-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.connections {
  margin-top: 36px;
}

@media only screen and (min-width: 500px){
  .button-collection-wrapper{
    margin: 0;
  }
}

.projects li {
  flex-grow: 1;
}

.projects li a {
  width: auto;
}

.projects li:hover p {
  color: #000;
}