@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500");

.preload,
.preload * {
  transition: none !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --button-size: 3.2rem;
  --content-width: 620px;
  --border-radius: 12px;
  --theme-toggle-time: 0.1s;
  --theme-toggle-curve: ease-out;
}

.light {
  --main-background-color: hsl(180, 3%, 93%);
  --light-background-color: hsl(180, 3%, 94%);
  --dark-background-color: hsl(180, 2%, 90%);

  --scrollbar-track-color: hsl(180, 2%, 85%);
  --scrollbar-color: hsl(180, 2%, 65%);
  --selection-color: hsl(180, 2%, 80%);

  --text-color: hsl(231, 15%, 12%);

  --button-color: hsl(180, 10%, 20%);

  --card-shadow: 6px 6px 12px hsl(230, 4%, 73%), -6px -6px 12px hsl(0, 0%, 100%);

  --border-color: #d1d9e6;
  --button-shadow-up: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
  --button-shadow-down: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;
  --button-shadow-pressed: inset 2px 2px 5px #b8b9be,
    inset -3px -3px 7px #ffffff, inset 2px 2px 5px #b8b9be,
    inset -3px -3px 7px #ffffff;

  --github-color: #222222;
  --instagram-color: #c32845;
  --discord-color: #515f90;
  --linkedin-color: #0077b5;
  --dmoj-color: #cab710;
  --gmail-color: #d3483e;
  --youtube-color: #cd201f;
  --download-color: #5ab847;
  --visit-color: #15aabf;
}

.dark {
  --main-background-color: hsl(180, 3%, 23%);
  --light-background-color: hsl(180, 2%, 24%);
  --dark-background-color: hsl(195, 4%, 22%);

  --scrollbar-track-color: hsl(195, 4%, 20%);
  --scrollbar-color: hsl(195, 4%, 13%);
  --selection-color: hsl(180, 2%, 60%);

  --text-color: hsl(189, 28%, 91%);

  --button-color: hsl(180, 10%, 81%);

  --card-shadow: 6px 6px 12px hsl(180, 3%, 12%),
    -6px -6px 12px hsl(180, 0%, 31%);

  --border-color: hsl(233, 18%, 22%);
  --button-shadow-up: 3px 3px 6px 0 hsla(210, 4%, 5%, 0.5),
    -3px -3px 6px 0px hsla(220, 3%, 35%, 0.712);
  --button-shadow-down: inset 2px 2px 5px 0 hsla(210, 4%, 5%, 0.5),
    inset -3px -3px 7px 0 hsla(220, 3%, 35%, 0.712);

  --button-shadow-pressed: inset 2px 2px 5px 0 hsla(210, 4%, 5%, 0.5),
    inset -3px -3px 7px 0 hsla(220, 3%, 35%, 0.712),
    inset 2px 2px 5px 0 hsla(210, 4%, 5%, 0.5),
    inset -3px -3px 7px 0 hsla(220, 3%, 35%, 0.712);

  --github-color: #F0F6FC;
  --instagram-color: #ff738e;
  --discord-color: #8098ec;
  --linkedin-color: #0092de;
  --dmoj-color: #fcdb05;
  --gmail-color: #dc362b;
  --youtube-color: #e40000;
  --download-color: #5ab847;
  --visit-color: #ff9dbf;
}

::selection {
  color: inherit;
  background-color: var(--selection-color);
  transition: background-color var(--theme-toggle-time)
    var(--theme-toggle-curve);
}

::-moz-selection {
  color: inherit;
  background-color: var(--selection-color);
  transition: background-color var(--theme-toggle-time)
    var(--theme-toggle-curve);
}

#bg {
  z-index: -1;
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-background-color);
  /* background: linear-gradient(160deg,var(--light-background-color) 0%, var(--main-background-color) 20%, var(--main-background-color) 70%, var(--dark-background-color)  100%); */
  transform: translate(0, 0);
  transition: background-color var(--theme-toggle-time)
    var(--theme-toggle-curve);
}

body {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  /* min-height: 100vh; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
  transition: background-color var(--theme-toggle-time)
    var(--theme-toggle-curve);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  transition: background-color var(--theme-toggle-time)
    var(--theme-toggle-curve);
}

body::-webkit-scrollbar-track,
body::-webkit-scrollbar-thumb {
  border: 0px solid transparent;
  background-clip: padding-box;
  /* border-radius: 8px; */
}

a:hover {
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h6,
h5,
h4,
h3,
h2,
h1 {
  color: var(--text-color);
  margin-bottom: 1rem;
  transition: color var(--theme-toggle-time) var(--theme-toggle-curve);
}

p {
  color: var(--text-color);
  transition: color var(--theme-toggle-time) var(--theme-toggle-curve);

  width: -moz-fit-content;
  width: fit-content;
  display: block;
  font-size: 18px;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

img {
  width: 100%;
  max-width: var(--content-width);
  border-radius: var(--border-radius);
}

ol,
ul,
dl {
  margin: 0;
}

.alignCenter {
  text-align: center;
}

.my-card h1 {
  font-size: 2.5rem;
}

.title {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.my-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

  overflow-y: auto;
}

.my-container.center {
  justify-content: center;
}

.my-card {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 90vw;
  min-height: 180px;
  min-height: min-content;
  height: 180px;
  height: min-content;
  background-color: var(--main-background-color);
  padding: 22px 30px;
  border: 0.0625rem solid;
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--card-shadow);
  margin-bottom: 60px;

  transition: background-color var(--theme-toggle-time)
      var(--theme-toggle-curve),
    box-shadow var(--theme-toggle-time) var(--theme-toggle-curve),
    border-color var(--theme-toggle-time) var(--theme-toggle-curve);
}

@keyframes card-fade-in {
  0% {
    box-shadow: none;
  }
  40% {
    box-shadow: none;
  }
  100% {
    box-shadow: var(--card-shadow);
  }
}

@media only screen and (min-width: 768px) {
  .my-card {
    min-width: calc(var(--content-width) * 0.75);
    max-width: calc(var(--content-width) + 120px);
    /* animation: card-fade-in .5s ease-out forwards;
    box-shadow: none; */
    padding: 44px 60px;
  }

  .my-container {
    padding: 7rem 60px;
  }

  p {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --button-size: 3.2rem;
  }
}

@media only screen and (min-width: 1000px) {
  :root {
    --button-size: 3.2rem;
  }
}